.button {
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: var(--quicksand);
  font-weight: var(--semibold);
  letter-spacing: 0;
  min-width: 0;
  text-decoration: none;
  text-align: center;
  text-transform: none;
}

.button--small {
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.25;
  padding: 0.4375rem 0.4375rem;
}

.button--large {
  border-radius: 0.5rem;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.4375rem 1.4375rem;
}

.button--primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--on-primary);
}

.button--primary:hover {
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  background-color: var(--primary-50);
}

.button--primary:active {
  background-color: var(--primary-60);
}

.button--primary:disabled {
  border-color: var(--grey-70);
  background-color: var(--grey-70);
  color: var(--grey-50);
  cursor: default;
}

.button--primary:disabled:hover {
  box-shadow: none;
}

.button--secondary {
  background-color: inherit;
  border-color: var(--primary-50);
  color: var(--primary-50);
}

.button--secondary:hover {
  background-color: var(--primary-container);
}

.button--secondary:disabled {
  border-color: var(--grey-50);
}

.button--tertiary {
  background-color: inherit;
  border-color: transparent;
  color: var(--primary-50);
  text-decoration: underline;
}

.button--tertiary:hover {
  background-color: var(--primary-container);
  text-decoration: none;
}

.button--tertiary:disabled {
  text-decoration: none;
}
