.button {
  display: block;
  border-radius: 0.5rem;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-size: var(--base-size);
  font-family: var(--quicksand);
  font-weight: var(--semibold);
  letter-spacing: 0;
  line-height: 1.5;
  min-width: 0;
  padding: 0.4375rem 1.4375rem;
  text-decoration: none;
  text-align: center;
  text-transform: none;
}

.button--primary {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--on-primary);
}

.button--primary:hover {
  box-shadow:
    0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  background-color: var(--primary-50);
}

.button--primary:active {
  background-color: var(--primary-60);
}

.button--primary:disabled {
  background-color: var(--grey-70);
  color: var(--grey-50);
  cursor: default;
}

.button--primary:disabled:hover {
  box-shadow: none;
}

.button--secondary {
  background-color: inherit;
  border-color: var(--primary-50);
  color: var(--primary-50);
}

.button--secondary:hover {
  background-color: var(--primary-container);
}

.button--tertiary {
  background-color: inherit;
  border-color: transparent;
  color: var(--primary-50);
}

.button--tertiary:hover {
  background-color: var(--primary-container);
}

.about {
  border: none;
  background-color: transparent;
}

.about {
  cursor: pointer;
}

.pilled {
  border-radius: 20px;
  padding: 5px 10px;
  background-color: var(--primary-90);
}

.circular {
  aspect-ratio: 1 / 1;
  padding: 2px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5em;
}

.inactive {
  background-color: var(--grey-70);
  color: var(--grey-50);
  pointer-events: none;
}

.switch {
  color: var(--primary);
  background-color: inherit;
  border: 1px solid var(--grey-50);
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.switchActive {
  composes: switch;
  background-color: var(--primary-90);
  color: var(--primary-10);
  border: 1px solid var(--primary-60);
}

.leftPill {
  border-radius: 8px 0 0 8px;
}

.rightPill {
  border-radius: 0 8px 8px 0;
}

.fixedToBottom {
  position: absolute;
  bottom: 1em;
  left: 1em;
  right: 1em;
}

@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .fixedToBottom {
    bottom: 3em;
    left: 5em;
    right: 5em;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
