.editForm {
  width: 100%;
}

.editModalContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  background-color: white;
  border: 1px solid var(--on-primary-container);
  border-radius: 10px;
  box-shadow: 24;
  padding: 2rem;
  color: var(--on-primary-container);
  font-family: var(--inter);
}

.editModalHeader {
  font-family: var(--quicksand);
  font-weight: var(--semibold);
  font-size: var(--h4);
  text-align: center;
}

.editModalContainer {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px 20px;
}

.editModalTextfield {
  width: 100%;
}

.editModalContainerButtons {
  margin-top: 1rem;
  padding: 10px 20px;
}

.editModalButtonWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .editModalContent {
    width: 60%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .editModalContent {
    width: 40%;
  }
}
