.container {
  position: relative;
  width: 90%;
  background-color: var(--grey-90);
  margin: 10px auto;
  border-radius: 8px;
  border: 1px solid var(--grey-70);
  padding: 15px;
  font-size: 14px;
}

.containerDone {
  composes: container;
  background-color: var(--grey-80);
  border: none;
  color: var(--grey-50);
}

.container p {
  font-family: "Inter", sans-serif;
}
.container strong {
  font-weight: 700;
}

.dateFloater {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: var(--grey-30);
}
.dateFloaterRed {
  composes: dateFloater;
  color: #b3261e;
}

.dateFloaterGreen {
  composes: dateFloater;
  color: #167841;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.profileDone {
  composes: profile;
  color: var(--grey-50);
}

/* This will need to change once a real image is in place */
.image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: cadetblue;
}

.imageDone {
  composes: image;
  opacity: 0.5;
}

.button {
  display: block;
  background-color: var(--primary);
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 5px;
  margin-top: 10px;
  color: var(--on-primary);
  text-decoration: none;
  text-align: center;
  font-size: 16px;
}

.buttonDone {
  composes: button;
  background-color: var(--grey-70);
  color: var(--grey-50);
}

.progressBar {
  font-size: 10px;
  color: var(--grey-30);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;
  margin: 3px 0;
}
