.dateFloater {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 12px;
  font-weight: 700;
  color: var(--grey-30);
}
.dateFloaterRed {
  composes: dateFloater;
  color: var(--error);
}

.dateFloaterGreen {
  composes: dateFloater;
  color: var(--success);
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.profileDone {
  composes: profile;
  color: var(--grey-50);
}

/* This will need to change once a real image is in place */
.image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: var(--primary-80);
}

.imageDone {
  composes: image;
  opacity: 0.5;
}

.progressBar {
  font-size: 10px;
  color: var(--grey-30);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 3px;
  width: 65%;
}
