.breadcrumbs {
  color: var(--primary);
  font: var(--mui-font-overline);
  text-transform: uppercase;
}

.breadcrumbs__link {
  text-decoration: none;
  color: var(--grey-10);
}

.breadcrumbs__link:hover {
  text-decoration: underline;
}

.breadcrumbs__separator {
  font-weight: normal;
  color: var(--grey-10);
  position: relative;
  top: -1px;
}
