.goalBox {
  display: flex;
  justify-content: space-between;
}

.goalTab {
  margin-left: -24px;
  display: inline-flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 8px 8px 0px 0px;
  background: #FFF;
}

.goalsContainer {
  background-color: #ffffff;
  padding-bottom: 2rem;
  min-height: 50vh;
  max-height: 70vh;
  overflow-y: auto;
  border-radius: 10px;
}

.goalsColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.noGoalBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noGoalText {
  margin-bottom: 1rem;
  font-size: xx-large;
}

.noGoalTextSmall {
  margin-bottom: 1rem;
}

.addGoalButton {
  display: inline-flex;
  height: 36px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--system-primary-primary-20159-e, #20159E);

  color: var(--system-primary-on-primary-ffffff, #FFF);
  text-align: center;
  /* Button */
  font-family: Quicksand;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}
