.goalTab {
  display: inline-flex;
  padding: 16px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 8px 8px 0px 0px;
  background: var(--grey-100);
}

.goalsContainer {
  background-color: var(--grey-100);
  padding-bottom: 2rem;
  min-height: 50vh;
  max-height: 70vh;
  overflow-y: auto;
  border-radius: 0px 10px 10px 10px;
}

.goalsColumn {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.noGoalBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noGoalText {
  margin-bottom: 1rem;
  font-size: xx-large;
}

.noGoalTextSmall {
  margin-bottom: 1rem;
}

.addGoalFormContainer {
  border-left: 1px #d6dde1 solid;
  padding: 2rem;
}

.addGoalFormHeading {
  color: #021426;
  font-size: 24px;
  font-family: var(--font-quicksand);
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word;
  margin-bottom: 2rem;
}

.addGoalFormTextArea {
  display: flex;
  height: 128px;
  width: 100%;
  padding: 16px;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
  background: #f5f5f5;
  resize: none;
}

.listGoal {
  border-bottom: 1px solid #d6dde1;
}

.listGoal :hover {
  cursor: pointer;
}
