.goalBox {
  display: flex;
  justify-content: space-between;
}

.goalTab {
  background-color: var(--grey-100);
  width: fit-content;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 1rem;
  margin-bottom: -1rem;
  margin-left: -24px;
}

.goalsContainer {
  background-color: var(--grey-100);
  padding-bottom: 2rem;
  min-height: 50vh;
  max-height: 70vh;
  overflow-y: auto;
  border-radius: 10px;
}

.noGoalBox {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noGoalText {
  margin-bottom: 1rem;
  font-size: xx-large;
}

.noGoalTextSmall {
  margin-bottom: 1rem;
}
