/* styling for the text in the checkbox label can go here */
.checkboxWrapper {
  cursor: pointer;
}

.behavior:hover {
  background-color: var(--primary-99);
}

.behavior:active {
  background-color: var(--primary-90);
}
