.default {
  display: block;
  background-color: var(--primary);
  border: none;
  color: var(--on-primary);
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 16px;

}

.default:hover {
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3),
    0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.default:active {
  background-color: var(--primary-40);
}

.reversed {
  background-color: inherit;
  color: var(--primary);
  border: 1px solid var(--primary-50);
}

.pilled {
  border-radius: 20px;
  padding: 5px 10px;
}

.inactive {
  background-color: var(--grey-70);
  color: var(--grey-50);
  pointer-events: none;
}