/* CM DASHBOARD */
.cmContainer {
  background-color: var(--primary-container);
  min-height: 100vh;
  color: var(--on-primary-container);
  font-family: "Quicksand", sans-serif;
}

/* STUDENT/PARA LISTS */
.createContainer {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: var(--primary-30);
  margin-bottom: 15px;
}
.createTitle {
  margin-bottom: 10px;
}
.createButton {
  height: 24px;
  width: auto;
  padding: 0px 20px;
  background-color: var(--primary);
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
}

.createInput input {
  border-radius: 2px;
  border: none;
  margin: 2px 4px;
  padding: 4px 2px;
  font-family: "Inter", sans-serif;
}

.listNames {
  list-style-type: none;
  margin: 10px;
  font-family: "Inter", sans-serif;
}
