@import url("https://fonts.googleapis.com/css2?family=Inter&family=Quicksand:wght@600;700&display=swap");

/* Place any repeated colors or other things here */
:root {
  --primary-purple: #5347d7;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: auto;
  font-family: "Roboto", sans-serif;
}
