@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Quicksand:wght@300..700&display=swap");

:root {
  --primary: #20159e;
  --on-primary: #ffffff;
  --primary-container: #f6f5ff;
  --on-primary-container: #080155;

  --accent: #1680a1;
  --on-accent: #ffffff;
  --accent-container: #f5fcff;
  --on-accent-container: #001b23;
  --background: #ffffff;
  --on-background: #021426;
  --surface: #fbfbff;
  --on-surface: #021426;
  --outline: #d6dde1;
  --outline-variant: #021426;

  --success: #24804d;
  --on-success: #ffffff;
  --success-container: #f0fff6;
  --on-success-container: #001e0d;
  --warning-state: #fbf6d9;
  --on-warning: #1c1b1f;
  --warning-container: #ffaa44;
  --on-warning-container: #1c1b1f;
  --error: #b3261e;
  --error-container: #f9dedc;

  --primary-10: #030123;
  --primary-20: #080155;
  --primary-30: #140b7a;
  --primary-40: #20159e;
  --primary-50: #3023b8;
  --primary-60: #5347d7;
  --primary-70: #766ce3;
  --primary-80: #9b93f1;
  --primary-90: #c2bdf9;
  --primary-95: #dfdcfc;
  --primary-99: #f6f5ff;

  --grey-10: #021426;
  --grey-20: #2a333c;
  --grey-30: #586874;
  --grey-40: #788591;
  --grey-50: #a2acb3;
  --grey-60: #b9c1c6;
  --grey-70: #d6dde1;
  --grey-80: #f4f6f7;
  --grey-90: #f6f8f9;
  --grey-100: #ffffff;

  /* Easy Text Size Scaling */
  --base-size: 0.875rem; /* 14px */
  --scale: 1.2;
  --h1: calc(var(--h2) * var(--scale));
  --h2: calc(var(--h3) * var(--scale));
  --h3: calc(var(--h4) * var(--scale));
  --h4: calc(var(--h5) * var(--scale));
  --h5: calc(var(--h6) * var(--scale));
  --h6: var(--base-size);
  --sm: calc(var(--h6) / var(--scale));
  --xs: calc(var(--sm) / var(--scale));

  /* Fonts */
  --quicksand: Quicksand;
  --inter: Inter;
  --regular: 300;
  --semibold: 600;
  --bold: 700;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
  overflow-x: auto;
  padding-top: 0.5rem;
  font-size: var(--base-size);
}

strong {
  font-weight: 700;
}

textarea {
  resize: vertical;
}

input[type="text"],
input[type="password"],
textarea {
  border: none;
  outline: none;
}

/* Scalable H elements with h classes that can be a substitute for H elements */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: 600;
  font-family: Quicksand;
  line-height: 1.5;
}

h1,
.h1 {
  font-size: var(--h1);
}

h2,
.h2 {
  font-size: var(--h2);
}

h3,
.h3 {
  font-size: var(--h3);
}

h4,
.h4 {
  font-size: var(--h4);
}

h5,
.h5 {
  font-size: var(--h5);
}

h6,
.h6 {
  font-size: var(--h6);
}

.sm {
  font-size: var(--sm);
}

.xs {
  font-size: var(--xs);
}

p,
.body1,
.body2,
.caption,
.overline,
span {
  line-height: 1.5;
  font-family: Inter;
  font-weight: var(--regular);
}

p {
  font-size: var(--base-size);
}

/* Text or similar style */
.body1 {
  font-size: var(--base-size);
}

/* Usage - description for filling out forms */
.body2 {
  font-size: var(--sm);
}

/* For Images */
.caption {
  font-size: var(--xs);
}

.overline {
  font-size: var(--xs);
  font-weight: var(--semibold);
  text-transform: uppercase;
}

/* Breakpoints recommended by Bootstrap */
/* Screens smaller than [480px] uses css above */

/* Phones [wide screen] - Tablet [long screen] */
@media only screen and (min-width: 480px) {
  :root {
    --base-size: 0.9375rem; /* 15px */
  }
}

/* Tablets [wide screen]*/
@media only screen and (min-width: 768px) {
  :root {
    --base-size: 1rem;
  }
}

/* Desktops */
@media only screen and (min-width: 992px) {
  html,
  body,
  #__next {
    padding-top: 0;
  }
}
