.container {
  background-color: #f6f5ff;
}

/* NON SESSION USER HOMEPAGE */
.greet_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.greet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* SIGN IN BUTTON */
.sign_in {
  height: 40px;
  padding: 0px 24px;
  background-color: #5347d7;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.sign_in:hover {
  box-shadow: 1px 1px 2px gray;
}

.sign_in:active {
  background-color: #3023b8;
}

/* SESSION USER PAGE */
.user_info_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.user_info {
  display: flex;
  flex-direction: column;
}

/* SIGN OUT BUTTON
(TODO: MOVE TO DROP DOWN CONTAINER ON NAV WITH USER PROFILE)
*/
.sign_out {
  height: 40px;
  width: 100px;
  padding: 0px 24px;
  background-color: #5347d7;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.sign_out:hover {
  box-shadow: 1px 1px 2px gray;
}

.sign_out:active {
  background-color: #3023b8;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Mobile */
@media (max-width: 700px) {
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
}
