/* TODO: Once the sign in page is remade/restyled, remove this file from global styles (or edit as necessary) */

/* NON SESSION USER HOMEPAGE */
.greetWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  gap: 15px;
}

/* SESSION USER PAGE */
.userInfo {
  width: 90%;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  justify-content: center;
  min-height: 100%;
}

.bold {
  font-weight: bold;
}
