.container {
  background-color: #f6f5ff;
}

/* NON SESSION USER HOMEPAGE */
.greetwrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.greet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* SIGN IN BUTTON */
.signin {
  height: 40px;
  padding: 0px 24px;
  background-color: #5347D7;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.signin:hover {
  box-shadow: 1px 1px 2px gray;
}

.signin:active {
  background-color: #3023B8;
}

/* SESSION USER PAGE */
.userinfowrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.userinfo {
  display: flex;
  flex-direction: column;
}

/* SIGN OUT BUTTON (TEMP) */
.signout {
  height: 40px;
  width: 100px;
  padding: 0px 24px;
  background-color: #5347D7;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.signout:hover {
  box-shadow: 1px 1px 2px gray;
}

.signout:active {
  background-color: #3023B8;
}




/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Mobile */
@media (max-width: 700px) {}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {}
