.customToastWrapper {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
}

.customToast {
  display: flex;
  padding: 8px 16px 8px 24px;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--system-error-error-container-f-9-dedc, #fef1f0);
}

.imgPointer {
  cursor: pointer;
}
