.caption {
  font-size: 0.75em;
  font-weight: 500;
}

.overline {
  font-size: 0.75em;
  font-weight: 600;
}

.orderList {
  padding-left: 0.5em;
}

.orderList li {
  list-style-position: inside;
}

.noDecoration {
  list-style-type: none;
}

.centeredText {
  text-align: center;
}

.bold {
  font-weight: 700;
}
