/* PLACEHOLDER FOR DESIGN SYSTEMS COMPONENT CSS
see notes in component file */

.myCustomClass {
  /* background-color: lightblue; */
  /* padding: 10px; */
  max-width: 400px;
}

.default {
  background-color: white;
}

.default:hover {
  background-color: lightgreen;
}

.selected {
  background-color: blanchedalmond;
}
