.default {
  margin: 0.5rem 2rem;
  padding: 1rem 1rem;
}

.selected {
  background-color: var(--primary-99);
  box-shadow: inset 6px 0px var(--primary-60);
}

.default:hover {
  box-shadow: 0 6px 10px var(--grey-40);
  background-color: var(--grey-100);
}

.default:active {
  color: var(--primary-40);
  background-color: var(--primary-99);
}

/* Defined in figma, but not sure the purpose */
.default:focus {
  border: 2px solid var(--primary-40);
  border-radius: 5px;
}
