.container {
  display: flex;
  height: 100vh;
}

/* TODO: fix flex settings so navbar doesn't get squished */
.main {
  flex: 20;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 5em 3em 3em 3em;
  margin-left: 200px;
  overflow: auto;
}

.mainPurple {
  composes: main;
  background-color: var(--primary-container);
}

.mainStudent,
.mainStaff {
  composes: main;
  background-color: var(--grey-80);
}

/* extra small, mobile */
@media only screen and (max-width: 480px) {
  .main {
    margin-left: 0;
  }
} 

/* small, tablets */
@media only screen and (max-width: 768px) {
  .main {
    margin-left: 0;
  }
}

/* medium, desktops */
@media only screen and (max-width: 992px) {
  .main {
    margin-left: 0;
  }
}
