.layout {
  height: 100vh;
}

.layout__header {
  display: none;
}

.layout__sidebar {
  position: fixed;
  width: 200px;
  height: 100%;
  overflow-y: scroll;
}

.layout__breadcrumbs {
  position: fixed;
  z-index:2;
  display: flex;
  align-items: center;
  left: 0m;
  right: 0;
  height: 3.5rem;
  padding: 1rem 2rem;
  border-bottom: 1px solid var(--grey-70);
}

.layout__main {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  padding: 3rem 0;
}

.layout__sidebar ~ .layout__breadcrumbs,
.layout__sidebar ~ .layout__main {
  left: 12.5rem;
}

.layout__breadcrumbs + .layout__main {
  top: 3.5rem;
  background-color: var(--grey-80);
}

@media only screen and (max-width: 991px) {
  .layout__header {
    display: block;
  }

  .layout__sidebar {
    display: none;
  }

  .layout__breadcrumbs {
    display: none;
  }

  .layout__main {
    padding-top: 1.5rem;
    top: 4.25rem;
  }

  .layout__breadcrumbs + .layout__main {
    top: 4.25rem;
  }

  .layout__sidebar ~ .layout__breadcrumbs,
  .layout__sidebar ~ .layout__main {
    left: 0;
  }
}
