.logo {
  padding: 1rem;
}

.sidebar {
  background-color: var(--primary-40);
  min-height: 100%;
}

.link {
  color: var(--on-primary);
  text-decoration: none;
  display: flex;
}

.linkItem {
  padding: 1.25rem 0 1.25rem calc(45% - 1.5rem * 1.5);
}

.linkTitle {
  padding-left: 1rem;
}

.linkItem:hover {
  background-color: var(--primary-60);
}

.linkSelected {
  background-color: var(--primary-60);
}

@media (min-width: 992px) {
  .linkItem {
    padding-left: 9%;
  }
}
