.tab {
  margin-left: 40px;
}

.listNames {
  list-style-type: none;
}

.createButton {
  height: 24px;
  width: auto;
  padding: 0px 20px;
  background-color: var(--primary);
  border-radius: 5px;
  border: none;
  color: var(--on-primary);
  cursor: pointer;
}

.createInput input {
  border-radius: 2px;
  border: 1px solid var(--outline);
  margin: 2px 4px;
  padding: 4px 2px;
}

.description {
  color: var(--grey-20);

  /* Body 1 */
  font-family: var(--inter);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.goal {
  display: flex;
  padding: 24px;
  align-items: center;
  gap: 40px;
  align-self: stretch;
  width: 100%;
}

.textContainer {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  flex: 1 0 0;
}

.benchmarkCountBadge {
  width: fit-content;
  display: flex;
  padding: 2px 8px;
  align-items: center;
  gap: 10px;

  border-radius: 16px;
  background: var(--grey-80);
}

.benchmarkCount {
  color: var(--grey-30);

  /* Body 2 */
  font-family: var(--inter);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
}
