.logo {
  padding: 1rem;
}

.toolbar {
  background-color: var(--primary-40);
  display: flex;
  justify-content: space-between;
  box-shadow: 0;
  padding: 0;
}

.burger {
  color: var(--primary-99);
}
