.sidebar {
  background-color: var(--primary-20);
  padding-top: 8px;
  display: flex;
  justify-content: center;
}

.logo {
  padding: 1rem;
}

.toolbar {
  background-color: var(--primary-20);
  display: flex;
  justify-content: space-between;
  box-shadow: 0;
}

.list {
  color: white;
  width: 100%;
}

.burger {
  color: var(--primary-99);
}

.link {
  color: var(--on-primary);
  padding-left: calc(100vw - 55% - 2.5rem);
  padding-top: 22px;
  padding-bottom: 22px;
}

.linkTitle {
  padding-left: 1rem;
}

.linkItem {
  text-decoration: none;
  display: flex;
}

.linkItem:hover {
  background-color: var(--primary-50);
}

@media (min-width: 900px) {
  .sidebar {
    justify-content: start;
  }
  .link {
    padding-left: 9%;
  }
}
