.logo {
  padding: 1rem;
}

.toolbar {
  background-color: var(--primary-40);
  display: flex;
  justify-content: space-between;
  box-shadow: 0;
}

.sidebar {
  background-color: var(--primary-40);
}

.linkItem {
  padding: 1.25rem 0 1.25rem calc(45% - 1.5rem * 1.5);
}
.link {
  color: var(--on-primary);
  text-decoration: none;
  display: flex;
}

.linkTitle {
  padding-left: 1rem;
}

.linkItem:hover {
  background-color: var(--primary-60);
}

.burger {
  color: var(--primary-99);
}
@media (min-width: 992px) {
  .linkItem {
    padding-left: 9%;
  }
}
