.sidebar {
  flex: 2;
  background-color: var(--primary-20);
  padding-top: 8px;
}

.logo {
  padding-left: 28px;
  padding-top: 12px;
  padding-bottom: 10px;
}

.toolbar {
  background-color: var(--primary-20);
  display: flex;
  justify-content: space-between;
  box-shadow: 0;
}

.list {
  color: white;
}

.burger {
  color: var(--primary-99);
  width: 2em;
  height: 2em;
}

.link {
  color: var(--on-primary);
  padding-left: 30px;
  padding-top: 22px;
  padding-bottom: 22px;
  display: flex;
  align-items: center;
}

.linkTitle {
  padding-left: 8px;
}

.linkItem {
  text-decoration: none;
}

.linkItem:hover {
  display: flex;
  align-items: center;
}

.linkItem:hover {
  background-color: #383473;
}

.icon {
  color: var(--on-primary);
  margin-right: 8px;
}
