.sidebar {
  flex: 2;
  background-color: var(--primary-20);
}

.linkContainer {
  display: flex;
  flex-direction: column;
}

.logo {
  padding-left: 28px;
  padding-top: 12px;
  padding-bottom: 10px;
}

.link {
  color: var(--on-primary);
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.linkTitle {
  padding-left: 8px;
}
/* check  */
.link:hover {
  background-color: #383473;
}

.icon {
  color: var(--on-primary);
}
