.sidebar {
  background-color: var(--primary-20);
  /* Todo: Make mobile-view sidebar */
  height: 3em;
}

.linkContainer {
  display: flex;
  flex-direction: column;
}

.logo {
  padding-left: 28px;
  padding-top: 12px;
  padding-bottom: 10px;
}

.link {
  color: var(--on-primary);
  padding-left: 30px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.linkTitle {
  padding-left: 8px;
}

.link:hover {
  background-color: #383473;
}

.icon {
  color: var(--on-primary);
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .sidebar {
    flex: 2;
    height: auto;
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
}
