/* Styles for counter component */
.counterContainer {
  margin: 10px 0;
  width: 100%;
}

.counterButtonContainer {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  height: 50px;
  margin: 0 auto;
  border-radius: 4px;
  overflow: hidden;
  font-family: inherit;
  font-weight: 600;
  font-size: 40px;
}

.counterButton {
  color: var(--grey-100);
  font-family: inherit;
  font-size: 2rem;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

/* TODO: Ask design team for disabled button versions */
.counterButton:disabled {
  background-color: var(--grey-50);
  cursor: default;
}

.counterNumberDisplay {
  color: var(--grey-10);
  font-family: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.counterButton-blue {
  background-color: var(--accent);
}
.counterNumberDisplay-blue {
  background-color: #1680a133;
}
.counterButton-green {
  background-color: var(--success);
}
.counterNumberDisplay-green {
  background-color: var(--success-container);
}
.counterButton-yellow {
  background-color: var(--warning-container);
}
.counterNumberDisplay-yellow {
  background-color: #ffaa4433;
}
.counterButton-red {
  background-color: var(--error);
}
.counterNumberDisplay-red {
  background-color: var(--error-container);
}

.counterTitle {
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  color: var(--grey-30);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

/* Styles for timer components */
.timerContainer {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.startStopButton {
  border: none;
  border-radius: 50%;
  color: var(--on-primary);
  background-color: var(--primary);
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.resetButton {
  border: none;
  background: none;
  color: var(--primary-40);
  font-size: 50px;
  cursor: pointer;
}

.timer {
  font-size: 40px;
  font-weight: 600;
  display: flex;
  color: var(--primary);
}

.timer span {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timer span p {
  font-size: 16px;
  font-weight: normal;
}

.numPadContainer {
  color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.numPadContainer h2 {
  color: var(--on-surface);
}

.numPad {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
  row-gap: 5px;
  column-gap: 5px;
}

.numPadButton {
  color: inherit;
  background: none;
  border: none;
  font-size: 32px;
  font-weight: 600;
  padding: 10px;
  cursor: pointer;
}

.startButton {
  border: none;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: var(--primary);
  color: var(--on-primary);
  cursor: pointer;
}

.setTimerButton {
  border-radius: 20px;
  background: none;
  padding: 5px 10px;
  border: 1px solid black;
  cursor: pointer;
}
