.tableTitle {
  font-size: 30px;
  font-weight: 600;
}

.addButton {
  background-color: var(--primary-purple);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.header {
  background-color: #DFE2E6;
  color: #4A5056;
}

.headerLabel {
  font-size: 17px;
  color: #4A5056;
}

.closeButton {
  border: none;
  background: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}