.tableTitle {
  font-size: 30px;
  font-weight: 600;
}

/* these colors don't match anything in colorsheet */
.header {
  background-color: #dfe2e6; 
  color: #4a5056;
}

.headerLabel {
  font-size: 17px;
  color: #4a5056;
}

.closeButton {
  border: none;
  background: none;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
