
.TaskCard {
    border-radius: 18px;
    border: 1px solid black;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    font-family: 'Work Sans', sans-serif;
    .badge {
        font-size: 16px;
        font-weight: 400;
    }

    .profile-pic {
        width: 29px;
        height: 29px;
        background-color: rgb(223, 223, 223);
        border-radius: 50%;
        display: inline-block;
    }

    .progress {
        border-radius: 8px;
        height: 9px;
        border: 1px solid black;
    }
    .progress-bar {
        background-color: #AFDDFF;
        border-radius: 8px;
        height: 9px;
        border-right: 1px solid black;
    }

    .task {
        font-size: 16px;
        font-weight: 400;
    }
    .status {
        font-size: 16px;
        font-weight: 300;
    }
    .student-name {
        font-size: 20px;
        font-weight: 500;
    }
}