.calendar-chip {
  height:28px;
  background-color: var(--on-primary);
  border: 1px #788591 solid;
  border-radius: 16px;
  padding-top: 2px;
  padding-right: 8px;
  padding-bottom: 2px;
  padding-left: 8px;
  gap: 4px;

  font-family: var(--inter);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}

.data-chip {
  height:25px;
  background-color: var(--primary);
  border-radius: 20px;
  padding-top: 2px;
  padding-right: 16px;
  padding-bottom: 2px;
  padding-left: 16px;
  gap: 8px;

  color: var(--on-primary);
  font-family: var(--inter);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.empty-chip {
  height:25px;
  background-color: var(--primary-container);
  border: 1px var(--primary) solid;
  border-radius: 20px;
  padding-top: 2px;
  padding-right: 16px;
  padding-bottom: 2px;
  padding-left: 16px;
  gap: 8px;

  font-family: var(--inter);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: "center";
  vertical-align: "middle";
}

.task-chip {
  height:26px;
  background-color: var(--grey-80);
  border-radius: 16px;
  margin-right:8px;
  padding-top: 1px;
  padding-right: 16px;
  padding-bottom: 1px;
  padding-left: 16px;

  font-family: var(--inter);
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0%;
}
