name: PR
on: [push]
jobs:
  type-check:
    name: type-check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 22
          cache: "npm"
      - name: Install dependencies & generate css types
        run: npm ci
      - name: Check types
        run: npm run type:check

  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 22
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Run format:check
        run: |
          npm run format:version
          npm run format:check
      - name: Run lint
        run: npm run lint

  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 22
          cache: "npm"
      - name: Install dependencies
        run: npm ci
      - name: Pre-pull Postgres image
        run: docker pull postgres:15
      - name: Run tests
        run: npm run test
